<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="./style/style.css">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" sizes="32x32" href="../style/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../style/favicon.png">
  <title>ConexãoIF</title>
  <meta name="keywords" content="if, instituto federal, ifc, pi, projeto integrador">
  <meta name="authors" content="Ana Kuster, Daniel Kratz, Gabrielle da Silva, Henrique Pereira (Hlcpereira)">
</head>
<body style="background-color: #D3D3D3;">
  <!-- Hamburguer Menu -->
  <input type="checkbox" id="navicon">
  <div class="nav-toggle">
  <label for="navicon" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>
  </div>
  <nav class="sidebar" role="complementary">
    <ul class="menu">
       <img id="logo_img" src="../style/logo.png" style="width: 100%;" atl="logo_cif_menu">
       <span id="underline_menu" class="underline"></span>
       <li><a href="../index.html">Home</a>
       <li><a href="../forum/index.html">Fóruns</a>
       <li><a href="./index.html">Sobre</a>
    </ul>
  </nav>
  <!-- End of the Hamburguer Menu -->
  <!-- Body Head -->
    <img id="logo" src="../style/logo.png" alt="logo_conexãoif">
    <!-- End of Body Head -->
    <!-- Misc -->
    <div id="barra">
      <p id="Login"><a href="#" style="text-decoration: none; color: white;">Login</a></p>
    </div>
