<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="./style/style.css">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" sizes="32x32" href="./style/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./style/favicon.png">
  <title>ConexãoIF</title>
  <meta name="keywords" content="if, instituto federal, ifc, pi, projeto integrador">
  <meta name="authors" content="Ana Kuster, Daniel Kratz, Gabrielle da Silva, Henrique Pereira (Hlcpereira)">
</head>
<body style="background-color: #D3D3D3;">
  <!-- Hamburguer Menu -->
  <input type="checkbox" id="navicon">
  <div class="nav-toggle">
  <label for="navicon" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>
  </div>
  <nav class="sidebar" role="complementary">
    <ul class="menu">
       <img id="logo_img" src="./style/logo.png" style="width: 100%;" atl="logo_cif_menu">
       <span id="underline_menu" class="underline"></span>
       <li><a href="./post_list.html">Home</a>
       <li><a href="./forum/index.html">Fóruns</a>
       <li><a href="./about/index.html">Sobre</a>
    </ul>
  </nav>
  <!-- End of the Hamburguer Menu -->
  <!-- Body Head -->
    <img id="logo" src="./style/logo.png" alt="logo_conexãoif">
    <!-- End of Body Head -->
    <!-- Misc -->
    <div id="barra">
      <p id="Login"><a href="#" style="text-decoration: none; color: white;">Login</a></p>
    </div>
    <div id="lateral">
      <h3>Notícias</h3>
      <div class="info" id="info_lateral">
        <a href="#"><h4>Lorem ipsum dolor</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis...</p></a>
        <span id="underline_lateral" class="underline"></span>
        <a href="#"><h4>Lorem ipsum dolor</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis...</p></a>
        <span id="underline_lateral" class="underline"></span>
        <a href="#"><h4>Lorem ipsum dolor</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis...</p></a>
        <span id="underline_lateral" class="underline"></span>
        <a href="#"><h4>Lorem ipsum dolor</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis...</p></a>
        <span id="underline_lateral" class="underline"></span>
        <a href="#"><h4>Lorem ipsum dolor</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis...</p></a>
      </div>
      <br>
    </div>
    <div id="top_5">
      <h3>Top 5</h3>
      <span id="underline_top" class="underline"></span>
      <div class="info" id="info_top_5">
        <a href="#"><h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis. Aenean nisi tellus, feugiat a ex a, vehicula aliquet lorem...</p></a>
        <span id="underline_top_5" class="underline"></span>
        <a href="#"><h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis. Aenean nisi tellus, feugiat a ex a, vehicula aliquet lorem...</p></a>
        <span id="underline_top_5" class="underline"></span>
        <a href="#"><h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis. Aenean nisi tellus, feugiat a ex a, vehicula aliquet lorem...</p></a>
        <span id="underline_top_5" class="underline"></span>
        <a href="#"><h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis. Aenean nisi tellus, feugiat a ex a, vehicula aliquet lorem...</p></a>
        <span id="underline_top_5" class="underline"></span>
        <a href="#"><h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae urna eu enim vehicula sagittis. Aenean nisi tellus, feugiat a ex a, vehicula aliquet lorem...</p></a>
      </div>
      <br>
    </div>
    <!-- End of Misc -->
    <!-- Footer -->
    <footer style="margin-top: 2.5%;">
      <center>
        <p style="font-size:10px; padding-bottom: 10px;">&copy 2017 Copyright: ConexãoIF | Website developed for school purproses</p>
      </center>
    </footer>
    <!-- End of Footer -->
  </body>
  </html>
