/* Hamburger menu */
/* To padronize the hamburger menu in all browsers */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style-position: inside;
  font-family: "Arial", Arial, sans-serif;
  text-decoration: none;
}

.nav-toggle {
  display: block;
  padding: 10px 10px 15px 10px;
  background: ##d3d3d3;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
.hamburger {
  width: 1.08em;
  position: relative;
  display: inline-block;
  height: 0.6em;
  font-size: 1.2em;
  background: ##d3d3d3;
}
.hamburger span {
  width: 100%;
  background: green;
  display: block;
  position: absolute;
  left: 0px;
  height: 0.18em;
  border-radius: 1.2px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 0.36em;
}
.hamburger span:nth-child(3) {
  top: 0.72em;
}
.sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  background: #f5f5f5;
  box-shadow: 3px 0px 10px #000;
  top: 0px;
  left: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
}
#navicon {
  display: none;
}
#navicon:checked ~ .sidebar {
  visibility: visible;
  opacity: 1;
}
#navicon:checked ~ .nav-toggle > .hamburger span {
  top: 0.36em;
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
/* End of padronization of hamburger menu in all browsers */
#underline_menu {
  margin: 5%;
}

.menu {
  list-style: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 25%;
  color: #000;
  border: 0px solid #ccc;
}

.menu li a:hover {
  text-shadow: 0 0 3px black;
}
/* End of Hamburger menu */
#logo {
  margin-top: -150px;
  display: block;
  margin-left: 32.5%;
  margin-bottom: -150px;
}

#barra {
  margin-top: 20px;
  background-color: green;
}

.underline {
  background: green;
  display: block;
  height: 1px;
}

#underline_top {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}

#underline_top_5 {
  margin-left: 2%;
  margin-right: 2%;
}

#underline_lateral {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#Login {
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  margin-left: 11.5%;
}

#Login a:hover {
  text-shadow: 0px 0px 4px white;
}

#lateral {
  margin: 1.5%;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lateral h3 {
  color: green;
  padding: 5%;
  text-align: center;
  text-shadow: 0px 0px 5px green;
}

.info {
  background-color: #c0c0c0;
}

#info_lateral {
  margin: 5%;
}

#info_top_5 {
  margin: 2.5%;
}

#top_5 {
  margin-left: 25%;
  margin-top: -682px;
  background-color: #fff;
  width: 73.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top_5 h3 {
  color: green;
  padding: 2.5%;
  text-shadow: 0px 0px 5px green;
}

.info h2 {
  padding-top: 2%;
  padding-left: 2%;
  color: #fff;
}

.info p {
  padding: 2%;
  color: green;
}

#info_lateral h4 {
  color: #fff;
  padding-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
}
